$color-fondo:#1e3a8a;
$color-text:#0000;
$color-text-section:#ffffff;
$color-titulos: #ffffff;
$h1-size:20px;
$h2-size:30px;
$color-focus:#fde047;
$margin-bottom-section:36px;
$margin-between-photos:10px;
$image-size:50px;
