$color-fondo:#1e3a8a;
$color-black:black;
$light-blue: skyblue;
$color-text-section:#ffffff;
$color-titulos: #ffffff;
$h1-size:20px;
$h2-size:30px;
$color-focus:#fde047;


/*Variable para hacer condicional*/
$bg-menu-movil: true;