@tailwind base;
@tailwind components;
@tailwind utilities;



/* --- DISEÑO PARA ESCRITORIO (POR DEFECTO) --- */
.header-container {
    background-color: #1e3a8a; /* bg-blue-900 */
    height: 112px; /* h-28 */
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo-img {
    width: 144px; /* w-36 */
    height:100px ;
}

.nav-links {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}
.nav-links li{
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.active-link {
    color: #fde047 !important; /* text-yellow-300 */
}

/* Ocultamos el botón hamburguesa en PC */
.hamburger-btn {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 4px;
    background-color: white;
}

.containerImg{
    display: flex;
    flex-direction: column;
    background-color: #1e3a8a;
    margin-bottom: 36px;
    height: fit-content;
}

.image{
    max-width:300px ;
    max-height: 300px;
    border-radius: 10px;
}

.til-section{
    width: fit-content;
    margin-bottom: 10px;
    margin-left: 5px;
    padding: 10px;
    color: white;
    font-family: sans-serif;
    font-size: 30px;
}

.formBarra{
    display: flex;
    flex-direction: column;
    width:100%;
    align-items: center;
    justify-content: center;
}

/* --- MEDIA QUERY PARA PANTALLAS PEQUEÑAS (MÓVIL) --- */
@media (max-width: 768px) {
    .hamburger-btn {
        display: flex; /* Aparece el botón */
    }

    .nav-links {
        display: none; /* Escondemos el menú normal */
        flex-direction: column;
        position: absolute;
        top: 112px; /* Debajo del header */
        left: 0;
        width: 100%;
        background-color: #1e3a8a;
        padding: 20px;
        z-index: 100;
    }

    /* Cuando el estado de React activa esta clase, el menú se muestra */
    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        text-align: center;
        padding: 10px 0;
    }

    .containerImg{
        justify-content: center;
        margin: 20px;
        margin-bottom: 36px;
       
    }

    .image{
    max-width:250px ;
    max-height: 250px;
    border-radius: 10px; 
    }

    .til-section{
    font-size: 25px;
    }

    .formBarra{
    margin: 20px;
}
}
