@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- DISEÑO PARA ESCRITORIO (POR DEFECTO) --- */


.header-container {


    @if $bg-menu-movil {
        background-color: $light-blue;
    }

    @else {
        background-color: $color-fondo;
    }

    /* bg-blue-900 */
    height: 112px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: relative;

    /*header-content*/
    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    /*logo container*/
    .logo-container {
        margin-left: 10px;
    }

    /*Menú hamburguesa */
    .hamburger-btn {
        display: flex;
        flex-direction: column;
        gap: 5px;
        background: none;
        border: none;
        cursor: pointer;

        .bar {
            width: 30px;
            height: 4px;
            background-color: $color-text-section;
        }
    }

    nav {

        /* En móvil: ocultar el menú por defecto. La lista debe usar la clase .nav-links */
        .nav-links {
            background-color: $color-fondo;
            display: none;
            flex-direction: column;
            position: absolute;
            top: 112px;
            left: 0;
            width: 100%;
            padding: 20px;
            z-index: 100;

            li {

                text-align: center;
                padding: 15px 0;
                list-style: none;

                a {
                    color: $color-text-section;
                    text-decoration: none;
                }
            }

            /*Bucle*/
             @for $i from 1 through 5 {
                li:nth-child(#{$i}) {
                @if $i % 2 == 0 {
                    background-color: $light-blue;
                } @else {
                    background-color: $color-black;
                }
        }
    }


            /* Cuando React añade .active a .nav-links se muestra */
            &.active {
                display: flex !important;
            }
        }


    }
}


/* --- MEDIA QUERY PARA de escriptorio --- */
@media (min-width: 748px) {
    .header-container {

        /* ocultar botón hamburguesa en pantallas grandes */
        .hamburger-btn {
            display: none !important;
        }

        nav {

            /* En escritorio mostrar .nav-links en fila */
            .nav-links {
                display: flex !important; // Forzamos mostrar en escritorio
                position: static; // Quitamos el absolute de móvil
                flex-direction: row;
                background-color: transparent;
                padding: 0;

                li {
                    margin-left: 40px;
                    background-color: $light-blue !important;
                }
            }


        }
    }
}