@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- DISEÑO PARA ESCRITORIO (POR DEFECTO) --- */


.header-container{

    background-color: $color-fondo; /* bg-blue-900 */
    height: 112px; /* h-28 */
    display: flex;
    align-items: center;
    padding: 0 20px;

    /*header-content*/
    div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%; 
    }

    /*logo container*/
    div{

        margin-left:10px;
        img{

        }
    }
    /*Menú hamburguesa */
    button{

        span{
            width: 30px;
            height: 4px;
            background-color: white;
        }
    }

    nav{

        ul{
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content:right;
            list-style: none;

            
            li{
                margin-left: 100px;
                a{
                    color: white;
                    text-decoration: none;
                    transition: 0.3s;
                    .active-link{
                        color: $color-focus !important; /* text-yellow-300 */
                    }
                }
            }
        }
    }
}

/* --- MEDIA QUERY PARA PANTALLAS PEQUEÑAS (MÓVIL) --- */
@media (max-width: 768px) {
    .hamburger-btn {
        display: flex; /* Aparece el botón */
    }

    .nav-links {
        display: none; /* Escondemos el menú normal */
        flex-direction: column;
        position: absolute;
        top: 112px; /* Debajo del header */
        left: 0;
        width: 100%;
        background-color: #1e3a8a;
        padding: 20px;
        z-index: 100;
    }

    /* Cuando el estado de React activa esta clase, el menú se muestra */
    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        text-align: center;
        padding: 10px 0;
    }
}
