

@import 'global_variables.scss';
@import 'styleHeader.scss';

/*Estilos responsives de la practica RA4 Elements d'interactivitat i accessibilitat en webs*/
/* --- Estilos default para escritorios --- */
.containerImg{
    display: flex;
    flex-direction: column;
    background-color: $color-fondo;
    margin-bottom: 100px;
    padding:10px;
    height: fit-content;
}

.image{
    max-width:300px ;
    max-height: 300px;
    border-radius: 10px;
    
}

.image:hover{
    outline: 4px solid $color-focus;
}

.til-section{
    width: fit-content;
    margin-bottom: 10px;
    margin-left: 5px;
    padding: 10px;
    color: $color-titulos;
    font-family: sans-serif;
    font-size: 30px;
}

.formBarra{
    display: flex;
    flex-direction: column;
    width:100%;
    align-items: center;
    justify-content: center;
}


/* --- MEDIA QUERY PARA PANTALLAS PEQUEÑAS (MÓVIL) --- */
@media (max-width: 768px) {
 
    .containerImg{
        justify-content: center;
        margin: 20px;
        margin-bottom: 36px;
       
    }
    
    .image{
    max-width:250px ;
    max-height: 250px;
    border-radius: 10px; 
    }

    .til-section{
    font-size: 25px;
    }

    .formBarra{
    margin: 20px;
}
}
